* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgb(23, 23, 23), rgb(42, 42, 42), black);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

.reels-container {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  user-select: none;

  scroll-snap-type: y mandatory;
}

.reels-container::-webkit-scrollbar {
  display: none;
}

.reel {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  scroll-snap-align: start;
}

.reel .sound {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(90, 90, 90, 0.403);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 1;
}

.reel .play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin: 10px;
  width: 90px;
  height: 90px;
  background-color: rgba(90, 90, 90, 0.403);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
  z-index: 1;
  pointer-events: none;
  cursor: pointer;
}

.reel > video {
  width: 100%;
  height: 101%;
  object-fit: cover;
}

.reel .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.452), transparent);
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reel .bottom .user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.user h2 {
  font-weight: 500;
  font-size: 16px;
}

.user #dot {
  width: 6px;
  height: 6px;
  background-color: aliceblue;
  border-radius: 50%;
}

.user button {
  color: white;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}

.user button:active {
  background-color: rgba(255, 255, 255, 0.055);
}

.bottom p.caption {
  width: 90%;
  font-size: 14px;
  font-weight: 100;
}

.bottom .right {
  width: 60px;
  position: absolute;
  right: 0;
  bottom: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right > div h4 {
  font-weight: 100;
  font-size: 1.6rem;
}

.right > div h6 {
  font-weight: 100;
  font-size: 1rem;
}

.right .liked {
  color: rgb(255, 0, 47);
}

@media (max-width: 500px) {
  .reels-container {
    width: 100%;
    height: 810px;
    padding: 0px;
  }

  .reel {
    margin-bottom: 0;
  }
}
